
<!DOCTYPE html>
<html lang="en">

<head>

	<% include partials/template/head.ejs %>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    
    <% include partials/template/navbar.ejs %>

    <!-- Header -->
   	
   	<% include partials/template/header.ejs %>

    <!-- Portfolio Grid Section -->

    <% include partials/template/portfolio.ejs %>
    
    <!-- About Section -->
    
    <% include partials/template/about.ejs %>

    <!-- Contact Section -->
    
    <% include partials/template/contact.ejs %>

    <!-- Footer -->
    
    <% include partials/template/footer.ejs %>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    
    <% include partials/template/scroll.ejs %>

    <!-- Portfolio Modals -->
    
    <% include partials/template/modal.ejs %>

    <!-- Scripts -->
    
    <% include partials/template/jsdefaults.ejs %>

</body>

</html>
