<html>
<head>
	<title>Message</title>
	<link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<table>
		<thead><tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Message</th>
		</tr></thead>
		<tbody>
			<% if(result.length>=0){%>
				
					<% for(var i=0; i<result.length; i++){ %>
							<tr>
								<td><%= result[i]['name'] %></td>
								<td><%= result[i]['email'] %></td>
								<td><%= result[i]['phone'] %></td>
								<td><%= result[i]['message'] %></td>
							</tr>
					<%}%>
				
			
			<%} else {%>
				<tr><td colspan="4"><h3>No Messages</h3></td></tr>	
			<%}%>
		</tbody>
	</table>
	

</body>